@page "/about"
@using System.Reflection
<h3>Bombardier XML Splitter</h3>
<p>@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyDescriptionAttribute>()?.Description)</p>
<p>App Version: <code>@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion)</code></p>
<p>@(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyCopyrightAttribute>()?.Copyright)</p>
<p>Product: @(Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyProductAttribute>()?.Product)</p>
    <img class="float-right" src="img/splash.svg" />